<!DOCTYPE html>
<html ng-app="didauangi">
<head>
  <meta charset="utf-8">
  <title>Đi Đâu Ăn Gì?</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tag %>
</head>
<body>
  <script src="/javascripts/angular.min.js" ng:autobind></script>
  <%= javascript_include_tag "application",
              "/javascripts/bootstrap.min.js" %>
  
  
    <div class="">
      <div class="container">
      <ul class="nav">
        <li>
          <div class="main-logo">
            <%= link_to :root do %>
              <h1>Đi Đâu Ăn Gì</h1>
            <% end %>
          </div>
        </li>
      </ul>
      <ul class="nav nav-pills pull-right">
      <%
      if current_user.blank?
      %>
        <li>
        <%= link_to "Log in", "/users/sign_in" %>
        </li>
        <li>
        <%= link_to "Sign up", "/users/sign_up" %>
        </li>
      <%
      else
      %>
        <li>
        <%= link_to "Hey #{current_user.nickname}.", user_path(current_user) %>
        </li>
        <li>
        <%= link_to "Log out", "/users/sign_out" %>
        </li>
      <%
      end
      %>
      </ul>
      </div>
    </div>
  <p class="notice flash"><%= flash[:notice] %></p>
  <p class="error flash"><%= flash[:error] %></p>
  
  <div id="main-content">
    <ng-view></ng-view>
  </div>
  
  <script type="text/javascript">
    loadScript();
  </script>
</body>
</html>
